<!DOCTYPE HTML>
<!--
	Strata by HTML5 UP
	html5up.net | @n33co
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
<head>
  <title>Ewelina Machnik Portfolio</title>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <!--[if lte IE 8]>
  <script src="assets/js/ie/html5shiv.js"></script><![endif]-->
  <link rel="stylesheet" href="assets/css/main.css"/>
  <!--[if lte IE 8]>
  <link rel="stylesheet" href="assets/css/ie8.css"/><![endif]-->
</head>
<body id="top">

<!-- Header -->
<header id="header">
  <a href="#" class="image avatar"><img src="images/avatar1_min.png" alt=""/></a>
  <h3>
    <div><a href="#contact">Kontakt</a></div>
    <strong>Projekty</strong>
  </h3>
  <h1>
    <div>
      #foreach( $directory in $directories )
        <div><a href="#${directory.name}">${directory.name}</a></div>
      #end

    </div>
  </h1>
</header>

<!-- Main -->
<div id="main">

  <!-- One -->
  <section id="one">
    <header class="major">
      <h2>Ewelina Machnik<br/></h2>
    </header>
    <p>Zapraszam do obejrzenia mojego portfolio.</p>
  </section>

  <!-- Two -->
  <section id="two">
    #foreach( $directory in $directories )
      <div class="row">
        <div id="${directory.name}">
          <h2>${directory.name}</h2>
          <article class="6u 12u$(xsmall) work-item">
            #foreach( $image in $directory.images )

              <a href="pics?image=${image.path}" class="image fit thumb"><img src="thumb?image=${image.path}"
                                                                              alt=""/></a>
            #end
          </article>
        </div>
      </div>
    #end
    <!-- Three -->
    <section>
      <div id="contact">
        <h2>Kontakt</h2>
        <p>Wszystkich zainteresowanych projektami lub współpracą zachęcam do kontaktu.</p>
        <div class="4u$ 12u$(small)">
          <ul class="labeled-icons">
            <li>
              <h3 class="icon fa-mobile"><span class="label">Telefon</span></h3>
              +48 515407521
            </li>
            <li>
              <h3 class="icon fa-envelope-o"><span class="label">Email</span></h3>
              <a href="mailto:ewelina.machnik@yahoo.com">ewelina.machnik@yahoo.com</a>
            </li>
          </ul>
        </div>
        <div class="row">
          <div class="8u 12u$(small)">
            <ul class="icons">
              <li>
                <a href="https://www.facebook.com/ewelina.salagaj" class="icon fa-facebook">
                  <span class="label">Facebook</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
  ##    <!-- Footer -->
  ##    <footer id="footer">
  ##    </footer>
</div>
<!-- Scripts -->
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/jquery.poptrox.min.js"></script>
<script src="assets/js/skel.min.js"></script>
<script src="assets/js/util.js"></script>
<!--[if lte IE 8]>
<script src="assets/js/ie/respond.min.js"></script><![endif]-->
<script src="assets/js/main.js"></script>
<script src="assets/js/mail.js"></script>

</body>
</html>
