<!DOCTYPE HTML>
<!--
	Strata by HTML5 UP
	html5up.net | @n33co
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
<head>
  <title>Ewelina Machnik Portfolio</title>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <!--[if lte IE 8]>
  <script src="assets/js/ie/html5shiv.js"></script><![endif]-->
  <link rel="stylesheet" href="assets/css/main.css"/>
  <!--[if lte IE 8]>
  <link rel="stylesheet" href="assets/css/ie8.css"/><![endif]-->
</head>
<body id="top">

<!-- Header -->
<header id="header">
  <a href="#" class="image avatar"><img src="images/avatar.jpg" alt=""/></a>

  <h1><strong>Moje Prace</strong>
    <div>
      #foreach( $directory in $directories )
        <div><a href="#${directory.name}">${directory.name}</a></div>
      #end
      <div><a href="#contact">Kontakt</a></div>
    </div>
</header>

<!-- Main -->
<div id="main">

  <!-- One -->
  <section id="one">
    <header class="major">
      <h2>Ewelina Machnik<br/></h2>
    </header>
    <p>Poniższe prace zostały wykonane z wykożystaniem programów AutoCad, Sketchup i 3dsMax.
      </br> Zapraszam do obejrzenia mojego portfolio.</p>
  </section>

  <!-- Two -->
  <section id="two">
    #foreach( $directory in $directories )
      <div class="row">
        <div id="${directory.name}">
          <h2>${directory.name}</h2>
          #foreach( $image in $directory.images )
            <article class="6u 12u$(xsmall) work-item">
              <a href="images/${image.path}" class="image fit thumb"><img src="images/${image.path}" alt=""/></a>
            </article>
          #end
        </div>
      </div>
    #end
    <!-- Three -->
    <section id="contact">
      <h2>Kontakt</h2>

      <p>Wszystkich zainteresowanych projektami lub współpracą zachęcam do kontaktu.</p>

      <div class="row">
        <div class="8u 12u$(small)">
          <form method="post" enctype="text/plain">
            <div class="row uniform 50%">
              <div class="6u 12u$(xsmall)"><input type="text" name="name" id="name" placeholder="Nazwa"/>
              </div>
              <div class="6u$ 12u$(xsmall)"><input type="email" name="email" id="email" placeholder="Email"/>
              </div>
              <div class="12u$"><textarea name="message" id="message" placeholder="Wiadomość"
                                          rows="4"></textarea></div>
            </div>
          </form>
          <ul class="actions">
            <li><input id="sendEmailBtn" type="submit" value="Wyślij"/></li>
            <span id="successMsg" class="align-right hidden">Dziękuję za kontakt, Twoja wiadomość została wysłana na moją skrzynkę.</span>
          </ul>

        </div>
        <div class="4u$ 12u$(small)">
          <ul class="labeled-icons">
            <li>
              <h3 class="icon fa-home"><span class="label">Adres</span></h3>
              Kraków<br/>
            </li>
            <li>
              <h3 class="icon fa-mobile"><span class="label">Telefon</span></h3>
              515407521
            </li>
            <li>
              <h3 class="icon fa-envelope-o"><span class="label">Email</span></h3>
              <a href="mailto:ewelina.machnik@yahoo.com">ewelina.machnik@yahoo.com</a>
            </li>
          </ul>
        </div>
      </div>
    </section>
    <!-- Footer -->
    <footer id="footer">
    ##      <ul class="icons">
##        <li><a href="https://www.facebook.com/ewelina.salagaj" class="icon fa-facebook"><span
##          class="label">Twitter</span></a></li>
##        <li><a href="mailto:ewelina.machnik@yahoo.com" class="icon fa-envelope-o"><span
##          class="label">Email</span></a>
##        </li>
##      </ul>
##      <ul class="copyright">
##        <li>&copy; Untitled</li>
##        <li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
##      </ul>
##    </footer>
</div>
<!-- Scripts -->
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/jquery.poptrox.min.js"></script>
<script src="assets/js/skel.min.js"></script>
<script src="assets/js/util.js"></script>
<!--[if lte IE 8]>
<script src="assets/js/ie/respond.min.js"></script><![endif]-->
<script src="assets/js/main.js"></script>
<script src="assets/js/mail.js"></script>

</body>
</html>
